@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --- General --- */

:root {
    --white: white;
    --ashGray: #B8CBB1;
    --honeyDew: #DEE7DA;
    --babyPowder: #F4F7F3;
    --paynesGray: #4F6D7A;
    --brownSugar: #CB7C55;
    --redWood: #916150;
    --thistle: #CEC4D4;

    --sageRGB: 184, 202, 176;
    --orangeRGB: 202, 111, 64;
    --whiteRGB: 255, 255, 255;
    --blackRGB: 0, 0, 0;
    --blueRGB: 52, 138, 167;
    --violetRGB: 81, 70, 99;
    --magentaRGB: 136, 57, 85;

    --sage: rgb(var(--sageRGB));
    --orange: rgb(var(--orangeRGB));
    --offWhite: #FAFBF9;
    --veryLightSage: #F0F4EE;
    --lightSage: #E5ECE3;
    --green: #638156;
    --offBlack: #253120;
    --blue: rgb(var(--blueRGB));
    --violet: rgb(var(--violetRGB));
    --magenta: rgb(var(--magentaRGB));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'DM Sans', sans-serif;
    color: var(--paynesGray);
}

body {
    min-height: 100vh;
    /* background-color: var(--honeyDew); */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--brownSugar);
}

h1 {
    margin: 0 0 .5rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--paynesGray);
    font-family: Kanit, sans-serif;
}

p {
   margin-bottom: .5rem; 
}

img {
    width: 100%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* UTILITIES */

.item-qty-handler {
    text-align: center;
}

.item-qty-handler .btn-outline {
    margin: .25rem 0 .75rem;
}

.item-qty-handler .qty-group {
    background-color: var(--thistle);
    display: flex;
    justify-content: center;
    gap: .5rem;
    position: relative;
    padding: .75rem 1.25rem;
}

.item-qty-handler .qty-handler {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.item-qty-handler .qty {
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--honeyDew); */
    border-radius: 50%;
    border: solid 1px var(--paynesGray);
}

.item-qty-handler .remove {
    position: absolute;
    right: 1.25rem;
    top: 0;
    height: 100%;
}

/* PARALLAX */
.wrapper {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 100px;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

#growth-rings,
#nemosa {
    z-index: -1;
}

#growth-rings {
    background-color: var(--honeyDew);
    position: absolute;
    height: 150%;
    width: 100%;
    object-fit: cover;
    transform: translateZ(-100px) scale(2);
}

#nemosa, #o-inline {
    position: absolute;
    align-self: center;
    width: 80vw;
}

#nemosa {
    transform: translateZ(-25px) scale(1.25);
}

#o-inline {
    transform: translateZ(-50px) scale(1.5);
}

/* --- NAV --- */

nav  {
    position: fixed;
    background-color: var(--ashGray);
    z-index: 2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}

#nav-clearfix {
    height: 3rem;
}


nav .navbar {
    height: 3rem;
    border-bottom: solid 3px var(--paynesGray);
    padding: .5rem 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav .navbar .cart {
    position: relative;
    margin: .25rem 0 0;
    font-size: 1.25rem;
    display: block;
}

nav .navbar .cart-quantity {
    position: absolute;
    top: -.4rem;
    right: -.4rem;
    background-color: var(--brownSugar);
    color: var(--babyPowder);
    text-align: start;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar img {
    display: block;
    max-height: 1.5rem;
}

nav .hamburger span {
    display: block;
    height: 3px;
    width: 28px;
    background-color: var(--paynesGray);
    border-radius: 3px;
}

nav .hamburger span:nth-child(2) {
    margin: 5px 0;
}

nav .menu {
    display: none;
}

nav .menu.active {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav .menu li {
    font-size: 2rem;
    font-weight: 200;
    padding: 1rem 0;
}
  
nav a {
    color: inherit;
}
  
/* nav li.active {
    background-color: var(--lightSage);
}
  
nav li:hover {
    background-color: var(--lightSage);
} */
  
.main-container {
    position: relative;
}

footer {
    text-align: center;
}

section {
    min-height: 50vh;
    padding: 10vmin 5vw 5vmin;
}

.cart-quantity {
    padding: 0 .5rem;
}

.nav li:last-child {
    display: flex;
}

/* ABOUT */

#about {
    background-color: var(--paynesGray);
    color: var(--babyPowder);
}

#about h1 {
    color: var(--babyPowder);
}

#about img {
    margin-left: 15vw;
    margin-bottom: 1rem;
    height: 100vmin;
    object-fit: cover;
}

#about .body {
    display: flex;
    flex-direction: column;
}

#about .more {
    overflow: hidden;
    max-height: 500px;
    transition: all .5s ease-out;
}

#about .more.hidden {
    max-height: 0;
    opacity: 0;
}

#about .action {
    margin-left: auto;
}

#about .btn-more {
    display: flex;
    justify-content: end;
    font-size: 2rem;
}

#about .btn-more:hover {
    color: var(--brownSugar);
}

#about .btn-more span.hidden {
    visibility: collapse;
}

/* PRODUCT TEASER */

#product-teaser {
    background-color: var(--honeyDew);
}

#product-teaser h1 {
    margin-top: 2rem;
    text-align: end;
}

#product-teaser h1:hover {
    color: var(--brownSugar);
}

#product-teaser h1 svg {
    height: 2rem;
    margin-left: .5rem;
}

#product-teaser .products img {
    display: block;
    object-fit: cover;
    transition: all .25s ease-out;
}

/* #product-teaser .products img:hover {
    transform: scale(1.05);
} */

#product-teaser .products figure {
    position: relative;
}

#product-teaser .products figcaption {
    position: absolute;
    font-size: .75rem;
    padding: .1rem 0;
    width: 35vw;
}

#product-teaser .products {
    position: relative;
    width: 100%;
    height: 210vw;
}

#product-teaser #teaser1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
}

#product-teaser #teaser1 img {
    height: 60vw;
    border-radius: 5vw 5vw 5vw 0;
    transform-origin: bottom left;
}

#product-teaser #teaser2 {
    position: absolute;
    top: 75vw;
    right: 0;
    width: 60vw;
}

#product-teaser #teaser2 img {
    height: 60vw;
    border-radius: 5vw 0 5vw 5vw;
    transform-origin: top right;
}

#product-teaser #teaser2 figcaption {
    text-align: end;
    right: 0;
    bottom: 60vw;
}

#product-teaser #teaser3 {
    position: absolute;
    top: 150vw;
    left: 0;
    width: 60vw;
}

#product-teaser #teaser3 img {
    height: 60vw;
    border-radius: 0 5vw 5vw 5vw;
    transform-origin: top left;
}

#product-teaser #teaser3 figcaption {
    left: 0;
    bottom: 60vw;
    width: 30vw;
}

/* PORTFOLIO */

#portfolio {
    background-color: var(--paynesGray);
    color: var(--babyPowder);
}

#portfolio .container {
    width: 80vmin;
    margin: 0 auto;
}

#portfolio h1 {
    color: var(--babyPowder);
}

#portfolio .slider {
    height: 80vmin;
}

/* SERVICES */

#services {
    background-color: var(--honeyDew);
}

/* CONTACT */

#contact {
    background-color: var(--paynesGray);
    color: var(--babyPowder);
}

#contact h1 {
    color: var(--babyPowder);
}

/* PRODUCT INDEX */

#product-index .product-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
} 

#product-index .product-grid .product-card {
    background-color: var(--babyPowder);
    box-shadow: 0 .1rem 1rem rgba(var(--violetRGB), 0.5);
}

#product-index .product-grid .product-card img {
    height: 16rem;
    object-fit: cover;
    display: block;
}

@media (min-width: 600px) {
    #product-index .product-grid { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media (min-width: 900px) {
    #product-index .product-grid { 
        grid-template-columns: repeat(3, 1fr); 
    }
} 

#product-index .card-body {
    padding: .75rem;
    text-align: start;
}

#product-index .card-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

/* CART */

#cart {
    padding: 0;
}

#cart h1 {
    background-color: var(--thistle);
    padding: 0 5vw;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-outline {
  border: 1px solid var(--brownSugar);
  background-color: transparent;
  color: var(--brownSugar);
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-outline:hover,
.btn-outilne:focus {
  background-color: rgb(var(--violetRGB));
  color: rgb(var(--whiteRGB));
}
