@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --- General --- */

:root {
    --white: white;
    --ashGray: #b8cbb1;
    --honeyDew: #DEE7DA;
    --babyPowder: #F4F7F3;
    --paynesGray: #4F6D7A;
    --brownSugar: #CB7C55;
    --redWood: #916150;
    --thistle: #CEC4D4;

    --ashGrayRGB: 184, 203, 177;

    --sageRGB: 184, 202, 176;
    --orangeRGB: 202, 111, 64;
    --whiteRGB: 255, 255, 255;
    --blackRGB: 0, 0, 0;
    --blueRGB: 52, 138, 167;
    --violetRGB: 81, 70, 99;
    --magentaRGB: 136, 57, 85;

    --sage: rgb(var(--sageRGB));
    --orange: rgb(var(--orangeRGB));
    --offWhite: #FAFBF9;
    --veryLightSage: #F0F4EE;
    --lightSage: #E5ECE3;
    --green: #638156;
    --offBlack: #253120;
    --blue: rgb(var(--blueRGB));
    --violet: rgb(var(--violetRGB));
    --magenta: rgb(var(--magentaRGB));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'DM Sans', sans-serif;
    color: var(--paynesGray);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--paynesGray);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--paynesGray);
    font-weight: 700;
}

a:hover {
    color: var(--brownSugar);
}

.svg-inline--fa {
    aspect-ratio: 3 / 2;
}

h1 {
    margin: 0 0 .75rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--paynesGray);
    font-family: Kanit, sans-serif;
}

p {
   margin-bottom: .5rem; 
}

img {
    width: 100%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn-outline {
    border: 1px solid var(--brownSugar);
    border-radius: .25rem;
    color: var(--brownSugar);
    font-weight: 600;
    padding: 10px 16px;
    text-align: center;
}
  
.btn-outline:hover,
.btn-outilne:focus {
    background-color: var(--brownSugar);
    color: var(--offWhite);
    /* border-color: var(--paynesGray); */
}
  
.btn-light {
    color: var(--paynesGray);
    font-weight: 400;
    border: transparent;
}

.btn-light:hover {
    background-color: var(--ashGray);
    color: var(--paynesGray);
}

.loading {
    font-size: 2rem;
    padding: 5rem 0;
    text-align: center;
}

/* UTILITIES */

.item-qty-handler {
    text-align: center;
    position: relative;
}

.item-qty-handler .qty-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
}

.item-qty-handler .qty {
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px var(--paynesGray);
}

.item-qty-handler .remove {
    position: absolute;
    top: .5rem;
    right: .75rem;
}

/* --- NAV --- */

nav  {
    position: fixed;
    z-index: 2;
    width: 100vw;
}

#nav-clearfix {
    height: 3rem;
    background-color: var(--paynesGray);
}


nav .navbar {
    height: 3rem;
    background-color: var(--ashGray);
    border-bottom: solid 3px var(--paynesGray);
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav .navbar .cart {
    position: relative;
    margin: .25rem 0 0;
    font-size: 1.25rem;
    display: block;
}

nav .navbar .cart:hover {
    color: var(--paynesGray);
}

nav .navbar .cart-quantity {
    position: absolute;
    top: -.4rem;
    right: -.4rem;
    background-color: var(--brownSugar);
    color: var(--babyPowder);
    text-align: start;
    border-radius: 50%;
    height: 1.1rem;
    width: 1.1rem;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar img {
    display: block;
    max-height: 1.5rem;
}

nav .hamburger span {
    display: block;
    height: 3px;
    width: 28px;
    background-color: var(--paynesGray);
    border-radius: 3px;
    transition: all .25s ease-out;
}

nav .hamburger span:nth-child(2) {
    margin: 6px 0;
}

nav .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

nav .hamburger.active span:nth-child(2) {
    opacity: 0;
}

nav .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

nav .menu {
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 3rem);
    max-height: 0;
    opacity: 0;
    transition: all .25s ease-out;
}

nav .menu.active {
    max-height: calc(100vh - 3rem);
    opacity: 1;
    background-color: rgba(var(--ashGrayRGB),.95);
}

nav .menu li {
    width: fit-content;
    padding: .2rem 0;
    margin: .75rem 0;
    border-bottom: solid 3px transparent;
}

nav .menu li a {
    font-weight: 200;
    font-size: 2rem;
}

nav .menu li a:hover {
    color: var(--paynesGray);
}
  
nav li:hover {
    border-bottom: solid 3px var(--paynesGray);
}

footer {
    text-align: center;
}

section {
    padding: 3rem 5vmin;
}

section .wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    
}

.cart-quantity {
    padding: 0 .5rem;
}

.nav li:last-child {
    display: flex;
}

/* BANNER */

#banner {
    padding: 0;
    position: relative;
    z-index: 4;
    background-color: var(--paynesGray);
    min-height: 100vmax;
    display: grid;
    align-items: end;
    overflow: hidden;
    background-image: url(../../img/logo/growth_rings.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -3rem;
}

#banner .top {
    height: 40vmax;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 3rem;
}

#banner .top ul {
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#banner .top .subtitle {
    font-family: Kanit, sans-serif;
    color: var(--ashGray);
    text-transform: uppercase;
    font-size: clamp(1.8rem, 8vw, 5rem);
    padding-top: .5rem;
}

#banner .bottom {
    position: relative;
    height: 115vw;
    min-height: 500px;
    width: 100%;
}

#banner .bottom img {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

/* ABOUT */

#about {
    background-color: var(--paynesGray);
    color: var(--babyPowder);
    overflow-x: hidden;
    padding: 3rem 0;
}

#about h1 {
    color: var(--babyPowder);
    padding: 0 5vmin;
}

#about img {
    margin-left: 15vw;
    margin-bottom: 1rem;
    height: 100vw;
    width: 85vw;
    object-fit: cover;
    border-bottom-left-radius: .25rem;
}

#about .body {
    padding: 0 5vmin;
    display: flex;
    flex-direction: column;
}

#about .more {
    overflow: hidden;
    max-height: 500px;
    transition: all .5s ease-out;
}

#about .more.hidden {
    max-height: 0;
    opacity: 0;
}

#about .action {
    margin-left: auto;
}

#about .btn-more {
    display: flex;
    justify-content: end;
    font-size: 2rem;
}

#about .btn-more:hover {
    color: var(--brownSugar);
}

#about .btn-more span.hidden {
    visibility: collapse;
}

@media screen and (min-width: 768px) {
    #about img {
        width: 40vw;
        height: 40vw;
        float: right;
        margin-left: 0;
        margin-bottom: 0;
    }

    #about h1 {
        padding-top: 2rem;
    }
}

/* PRODUCT TEASER */

#product-teaser {
    background-color: var(--honeyDew);
}

#product-teaser h1 {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: end;
    font-size: 2rem;
}

#product-teaser h1:hover {
    color: var(--brownSugar);
}

#product-teaser h1 svg {
    height: 1.6rem;
}

#product-teaser h2 {
    font-family: Kanit, sans-serif;
    text-align: start;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.1rem;
}

#product-teaser .products figure {
    width: 60vw;
    margin-bottom: 1rem;
}

#product-teaser .products img {
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: .25rem;
}

#product-teaser .products figcaption {
    font-size: .9rem;
    font-weight: 600;
    padding: .2rem;
    color: var(--paynesGray);
}

#product-teaser .products figure:hover figcaption {
    color: var(--brownSugar);
}

#product-teaser #teaser2 {
    margin-left: auto;
}

#product-teaser #teaser2 figcaption {
    text-align: end;
}

@media screen and (min-width: 768px) {
    #product-teaser .products {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    #product-teaser #teaser2 {
        margin-left: 0;
    }

    #product-teaser #teaser2 figcaption {
        margin-top: 1rem;
    }

}

/* PORTFOLIO */

#portfolio {
    background-color: var(--paynesGray);
    color: var(--babyPowder);
}

#portfolio h1 {
    margin-top: 2rem;
    color: var(--babyPowder);
    line-height: 2.8rem;
}

#portfolio .instagram {
    text-align: right;
    margin-bottom: .5rem;
}

#portfolio .instagram a {
    color: var(--babyPowder);
}

#portfolio .instagram a:hover {
    color: var(--brownSugar);
}

#portfolio .instagram .fa-instagram {
    font-size: 1.5rem;
}

#portfolio .slider-container {
    max-width: calc(100vmin - 5rem);
    margin: 0 auto;
}

#portfolio .slider {
    height: calc(100vmin - 5rem);
}

/* SERVICES */

#services {
    background-color: var(--honeyDew);
}

#services h1 {
    margin-top: 2rem;
}

#services .collapsible {
    border: solid 1px var(--paynesGray);
    margin-bottom: 1rem;
    padding: .75rem 1rem;
}

#services .title {
    font-weight: 700;
    font-size: 1.3rem;
}

#services .title:hover {
    cursor: pointer;
}

#services .content {
    /* padding-top: .5rem; */
    overflow: hidden;
    max-height: 500px;
    transition: all .5s ease-out;
}

#services .content::before {
    content: '';
    height: .5rem;
    display: block;
}

#services .content.hidden {
    max-height: 0;
    opacity: 0;
}

/* CONTACT */

#contact {
    background-color: var(--paynesGray);
    color: var(--babyPowder);
}

#contact h1 {
    color: var(--babyPowder);
}

#contact .contact div {
    margin-bottom: .5rem;
}

#contact .contact a {
    color: var(--babyPowder);
}

#contact .contact a:hover {
    color: var(--brownSugar);
}

#contact .separator {
    display: none;
}

@media screen and (min-width: 576px) {
    #contact .contact {
        display: flex;
        justify-content: center
    }

    #contact .separator {
        padding: 0 1rem;
        display: block;
    }
}


/* PRODUCT INDEX */

#product-index {
    padding: 0;
    background-color: var(--babyPowder);
}

#product-index .header {
    background-color: var(--paynesGray);
}

#product-index h1 {
    color: var(--babyPowder);
    padding: 0 5vmin;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

#product-index .product-grid {
    padding: 5vmin;
    display: grid;
    gap: 3rem;
} 

/* #product-index .product-grid .product-card {
    box-shadow: 0 .1rem 1rem rgba(var(--violetRGB), 0.5);
    border-radius: .25rem;
    border: solid 1px var(--paynesGray);
    overflow: hidden;
} */

@media (min-width: 600px) {
    #product-index .product-grid { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media (min-width: 900px) {
    #product-index .product-grid { 
        grid-template-columns: repeat(3, 1fr); 
    }
} 

#product-index .product-grid .product-card {
    display: flex;
    flex-direction: column;
}

#product-index .product-grid .product-card img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    border-radius: .25rem;
}

#product-index .card-body {
    padding: .75rem;
    text-align: start;
}

#product-index .card-title {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    font-size: 1.4rem;
    margin-bottom: .25rem;
}

#product-index .card-title .name a {
    font-weight: 600;
}

#product-index .card-body svg {
    color: var(--ashGray);
}

#product-index .card-body .description {
    margin-top: .25rem;
}

#product-index .card-actions {
    margin-top: auto;
    background-color: var(--honeyDew);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}

#product-index .card-actions.in-cart {
    background-color: var(--thistle);
}

#product-index .card-actions button.add:hover {
    font-weight: 700;
}

/* PRODUCT-SINGLE */

#product-single {
    background-color: var(--babyPowder);
}

#product-single .card-img img {
    border-radius: .25rem;
    aspect-ratio: 1 / 1;
}

#product-single .card-body {
    padding: .75rem;
    text-align: start;
}

#product-single .card-title {
    float: right;
    font-size: 1.4rem;
}

#product-single .card-body svg {
    color: var(--ashGray);
}

#product-single .card-body .description {
    margin-top: .25rem;
}

#product-single .card-actions {
    background-color: var(--honeyDew);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}

#product-single .card-actions.in-cart {
    background-color: var(--thistle);
}

#product-single .card-actions button.add:hover {
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    #product-single .product-card {
        display: grid;
        gap: 1rem;
        grid-template-areas: 
            "img body"
            "img actions";
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto 1fr;
    }

    #product-single .card-img {
        grid-area: img;
    }

    #product-single .card-body {
        grid-area: body;
    }

    #product-single .card-actions {
        grid-area: actions;
    }
}

#product-single .back {
    margin-top: 2rem;
}

#product-single .back a {
    color: var(--paynesGray);
}

#product-single .back a:hover {
    font-weight: 700;
}

/* CART */

#cart {
    padding: 0 0 2rem;
    background-color: var(--babyPowder);
}

#cart .header {
    background-color: var(--paynesGray);
}

#cart h1 {
    color: var(--babyPowder);
    padding: 0 5vmin;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

#cart .cart-item {
    display: flex;
    gap: .75rem;
    padding: .75rem 5vmin;
    border-bottom: solid 2px var(--honeyDew);
}

#cart .cart-item img {
    height: 25vmin;
    width: 25vmin;
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}

#cart .cart-item > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cart .cart-item > div:nth-child(2) .unit-price {
    opacity: .7;
}

#cart .cart-item > div:last-child {
    text-align: end;
    margin-left: auto;
    font-weight: 600;
}

#cart .cart-item .item-qty-handler {
    background-color: transparent;
    padding: 0;
    margin-top: auto;
    font-size: .8rem;
}

#cart .cart-item .item-qty-handler .qty-group {
    justify-content: start;
}

#cart .cart-item .item-qty-handler .qty {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--honeyDew);
    border-color: transparent;
}

#cart .total,
#cart .actions {
    display: flex;
    justify-content: space-between;
    padding: .75rem 5vmin;
    font-weight: 600;
}

#cart .back {
    padding: .75rem 5vmin;
}

/* CHECKOUT-SUCCESS */ /* NOT-FOUND */

#checkout-success,
#not-found,
#cart .empty {
    padding-top: 5rem;
    text-align: center;
    background-color: var(--babyPowder);
    min-height: 60vh;
}

#checkout-success p,
#not-found p,
#cart .empty p {
    font-size: 1.5rem;
    font-weight: 200;
}

#checkout-success p:last-of-type,
#not-found p:last-of-type, 
#cart .empty p:last-of-type {
    margin-top: 1rem;
    font-size: 2rem;
}

#checkout-success button,
#not-found button, 
#cart .empty button {
    margin: 2rem 0;
}

#checkout-success button:hover a,
#not-found button:hover a,
#cart .empty button:hover a {
    color: var(--offWhite);
}